<h1>Here's your appointment!</h1>
<%= render 'info', :a => @appointment %><br />
<%= link_to "Edit this appointment", edit_admin_appointment_path %><br>
<%= link_to "Back to Appointments", admin_appointments_path %>
