/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Playball);
/* line 27, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
a {
  color: black;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
/* line 34, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
a.hover-color {
  color: #ff2d2d;
}

/* line 39, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
body {
  background: #eeeeee;
  font-family: 'Open Sans', serif;
  margin: 0 auto;
  text-align: center;
}

/* line 46, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
h1, h2, h3 {
  font-family: Playball;
}

/* line 50, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
img {
  max-width: 100%;
  height: auto;
}

/* line 55, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
table {
  border: 3px solid #2e2e2e;
}
/* line 59, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
table tr td {
  border: 1px solid #2e2e2e;
  padding: 5px;
}
/* line 64, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
table tr:nth-child(even) {
  background: #ededed;
}
/* line 68, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
table tr:nth-child(odd) {
  background: white;
}

/* line 74, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
.btn {
  background: #2e2e2e;
  border: 3px solid black;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 18px;
  padding: 10px;
}
/* line 83, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
.btn:hover {
  background: #e00000;
}

/* line 88, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
.centered {
  text-align: center;
}

/* line 92, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
.errors {
  text-align: left;
}

/* line 96, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
.header_main {
  font-size: 54px;
}

/* line 100, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
.header_sub {
  font-size: 24px;
}

/* line 105, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
.fade {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/* line 112, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/application.css.scss */
.notice {
  background: #2e2e2e;
  border: 2px solid #ff2d2d;
  color: white;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
}
/* line 10, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/appointments.css.scss */
.appointment {
  background: #f2f2f2;
  border: 2px solid #c4c4c4;
  color: black;
  margin: 5px;
  padding: 5px 25px 5px 25px;
}
/* line 17, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/appointments.css.scss */
.appointment a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
/* line 22, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/appointments.css.scss */
.appointment a:hover {
  color: #ff2d2d;
}
/* line 27, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/appointments.css.scss */
.appointment.form {
  border: none;
  margin: 10px;
}
/* line 32, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/appointments.css.scss */
.appointment.form-wrap {
  text-align: left;
}
/* line 36, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/appointments.css.scss */
.appointment.info {
  cursor: pointer;
  margin: 10px;
  min-width: 300px;
  display: inline-block;
}
/* line 43, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/appointments.css.scss */
.appointment.extra-info {
  display: none;
  margin: 5px 10px 10px 10px;
}
/* line 47, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/appointments.css.scss */
.appointment.extra-info li {
  list-style: none;
}
/* line 51, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/appointments.css.scss */
.appointment.extra-info ul {
  padding: 0px;
}
/* line 57, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/appointments.css.scss */
.appointment.options li {
  display: inline;
  list-style: none;
  padding-right: 10px;
}
/* line 62, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/appointments.css.scss */
.appointment.options ul {
  margin: 0px;
  padding: 0px;
}

/* line 69, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/appointments.css.scss */
.appointment-container {
  display: inline-block;
  margin: 5px;
  min-width: 300px;
  text-align: left;
  vertical-align: top;
}

/* line 77, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/appointments.css.scss */
#appointment-pane {
  display: inline-block;
  text-align: left;
  width: 800px;
}

/* line 83, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/appointments.css.scss */
#appointment-wrapper {
  display: inline-block;
  width: 90%;
}

/* line 88, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/appointments.css.scss */
#side-pane {
  display: inline-block;
  margin-top: 15px;
  padding: 25px;
  text-align: left;
  vertical-align: top;
  width: 250px;
}
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Playball);
/* line 19, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/home.css.scss */
header {
  background-image: url(/assets/illusion/use_your_illusion.png);
  border-bottom: 3px solid #ff2d2d;
  color: white;
  font-family: Playball;
  margin: 0px;
  padding: 10px;
}
/* line 28, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/home.css.scss */
header a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
/* line 34, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/home.css.scss */
header li {
  display: inline;
  list-style: none;
  padding-right: 20px;
}
/* line 40, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/home.css.scss */
header h1 {
  margin: 5px 0px 5px;
}
/* line 44, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/home.css.scss */
header ul {
  margin: 0px;
  padding: 5px;
}

/* line 50, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/home.css.scss */
footer {
  background-image: url(/assets/illusion/use_your_illusion.png);
  border-top: 3px solid #ff2d2d;
  color: white;
  margin-top: 30px;
}

/* line 58, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/home.css.scss */
.footer-item {
  display: inline-block;
  padding: 50px;
  text-align: left;
  vertical-align: top;
}

/* line 65, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/home.css.scss */
.images-inline {
  display: inline-block;
}

/* line 69, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/home.css.scss */
.main-item {
  background: #f2f2f2;
  margin: 5px 20px 20px 20px;
  padding: 25px;
  text-align: left;
}

/* line 76, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/home.css.scss */
.shadowed {
  -webkit-box-shadow: 2px 2px 3px rgba(30, 30, 30, 0.73);
  -moz-box-shadow: 2px 2px 3px rgba(30, 30, 30, 0.73);
  box-shadow: 2px 2px 3px rgba(30, 30, 30, 0.73);
}

/* line 82, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/home.css.scss */
.sidebar-item {
  background: #f2f2f2;
  margin: 20px;
  padding: 15px;
  text-align: left;
  width: 250px;
}

/* line 90, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/home.css.scss */
#main-content {
  display: inline-block;
  font-size: 16px;
  line-height: 1.5em;
  margin: 30px;
  min-width: 250px;
  max-width: 900px;
}

/* line 100, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/home.css.scss */
#sidebar {
  display: inline-block;
  margin: 15px;
  vertical-align: top;
}

/* line 106, /home/chris/devel/rails/sl_mobile_mech/app/assets/stylesheets/home.css.scss */
#wrapper {
  display: inline-block;
}
/*body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  &:visited {
    color: #666;
  }
  &:hover {
    color: #fff;
    background-color: #000;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff;
  }
  ul li {
    font-size: 12px;
    list-style: square;
  }
}*/
