<footer>
  <div id="contact-info" class="footer-item">
    <h1>Contact Information</h1>
    <p>Scott Laverdiere</p>
    <p>Phone: 443-462-6178</p>
    <p>Email: slmobilemechanic@yahoo.com</p>
    <p>Hours: 10:00AM - 6:00PM</p>
  </div>

  <div id="business-info" class="footer-item">
    <h1>Business Opportunities</h1>
    <p>Partnerships and Agreements</p>
    <p>Stock and trading options</p>
    <p>Just kidding none of this exists</p>
  </div>

  <div id="other-info" class="footer-item">
    <h1>Other Category</h1>
    <p>Interesting Option 1</p>
    <p>Interesting Option 2</p>
    <p>Interesting Option 3</p>
  </div>
</footer>
