<footer>
  <div id="contact-info" class="footer-item">
    <h1>Contact Information</h1>
    <p>Scott Laverdiere</p>
    <p>Phone: 443-462-6178</p>
    <p>Email: <a href="mailto:slmobilemechanic@yahoo.com">slmobilemechanic@yahoo.com</a></p>
    <p>Hours: 10:00AM - 6:00PM</p>
  </div>

  <div id="business_card" class="footer-item">
    <%= image_tag "business/card.jpg" %>
  </div>

</footer>
