<footer>
  <div id="contact-info" class="footer-item">
    <h2>Contact Information</h2>
    <p>Scott Laverdiere</p>
    <p>Address: 52 Placeholder Street</p>
    <p>Phone: 238-123-3838</p>
    <p>Hours: 10:00AM - 6:00PM</p>
  </div>

  <div id="business-info" class="footer-item">
    <h2>Business Opportunities</h2>
    <p>Partnerships and Agreements</p>
    <p>Stock and trading options</p>
    <p>Just kidding none of this exists</p>
  </div>

  <div id="other-info" class="footer-item">
    <h2>Other Category</h2>
    <p>Interesting Option 1</p>
    <p>Interesting Option 2</p>
    <p>Interesting Option 3</p>
  </div>
</footer>
