<header>
  <h1><%= link_to "SL Mobile Mechanic", root_url %></h1>
  <nav>
    <ul>
      <li><%= link_to "Appointments", controller: "appointments" %></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>
</header>
