<header>
  <h1><%= link_to "SL Mobile Mechanic", root_url %></h1>
  <nav>
    <ul>
      <li><%= link_to 'About', '/home/about' %></li>
      <li><%= link_to 'Services', '/home/services' %></li>
      <li><%= link_to 'Contact', '/home/contact' %></li>
    </ul>
  </nav>
</header>
