<div id="main-content">
  <div class="main-item shadowed">
    <h1>About Us</h1>

    <h2>What We Do</h2>
    <p>A short description of the business goes here.</p>

    <h2>How We Do It</h2>
    <p>A short description of the services goes here.</p>
    <p>If you want to know specifically what services we offer, check out our <%= link_to 'services', '/home/services' %> page.
  </div>
</div>
