<%# <%  TODO Add ASE Cert Picures. %>

<div class="main-item shadowed">
  <h1>Why am I a Mobile Mechanic?</h1>

  <p>
  My name is Scott, and I love fixing cars, and working outdoors. I have
  worked at dealers and independent repair shops most of my life, and for the
  most part, I really liked it. Most of the repairs I did, however, did not
  require the services only available in a shop.  In fact, probably 80% or
  more could have been repaired remotely, or didn't even require a tow.  I
  was sent by my employers constantly out to diagnose, or fix the cars of
  customers or the dealer. I began to think I should just target that area
  of business, it was challenging and fun, and saved the customer (or the
  dealer) time and money. Thats when decided to start my mobile mechanic
  business.
  </p>
  
  <p>
  I am ASE Certified, A former MD State Inspector (I would still be one, but
  you have to have a physical location to do inspections), and have 13 years
  experience.
  </p>
  
  <p>
  I can do almost any repair to any make of car, and if I don't feel that I
  am comfortable fixing your problem I will let you know and explain exactly
  why, but I haven't had that happen yet.
  </p>

  <h1>What Services do I offer?</h1>
  <p>If you want to know specifically what services I offer, check out my <%= link_to 'services', '/home/services' %> page.
</div>
