<div class="main-item shadowed">
  <h1>Contact Me</h1>

  <h2>Business info</h2>
  <p>If you want to make an appointment by phone, or have any questions about
  my business, you can either call or reach me through email.</p>

  <p><b>Phone: </b>443-462-6178</p>
  <p><b>Email: </b>slmobilemechanic@yahoo.com</p><br>

  <h2>Website info</h2>
  <p>If you find a problem with the website itself, please let the webmaster know.</p>
  <p><b>Email: </b>cmlaverdiere@gmail.com</p>
</div>
