<%= render 'header' %>

<div class="main-item shadowed">
  <h1>Contact Us</h1>

  <h2>Business info</h2>
  <p>If you want to make an appointment by phone, or have any questions about our business, you can call us, or reach us through email.</p>
  <p><b>Phone: </b>555-555-5555</p>
  <p><b>Email: </b>slmech@here.com</p><br>

  <h2>Website info</h2>
  <p>If you find a problem with the website itself, please let the webmaster know.</p>
  <p><b>Phone: </b>555-555-5555</p>
  <p><b>Email: </b>webmaster@here.com</p>
</div>
