<div class="main-item shadowed">
  <h1>Contact Me</h1>

  <h2>Business info</h2>
  <p>If you want to make an appointment, text or call me at the number below, or
    shoot me an email.</p>

  <p><b>Phone: </b>443-462-6178</p>
  <p><b>Email: </b><a href="mailto:slmobilemechanic@yahoo.com">slmobilemechanic@yahoo.com</a></p>
</div>

<div class="main-item shadowed">
  <h2>Website info</h2>
  <p>If you find a problem with the website itself:</p>
  <p><b>Email: </b><a href="mailto:cmlaverdiere@gmail.com">cmlaverdiere@gmail.com</a></p>
</div>
