<div id="wrapper">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <div id="manifesto" class="main-item shadowed">
    <h2>Welcome to SL Mobile Mechanic</h2>
    <p>Hey I'm Scott and I fix cars. This is very bad placeholder text.</p>

    <h2>More information</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec a diam lectus. Sed sit amet ipsum mauris. Maecenas congue ligula ac quam viverra nec consectetur ante hendrerit. Donec et mollis dolor. Praesent et diam eget libero egestas mattis sit amet vitae augue. Nam tincidunt congue enim, ut porta lorem lacinia consectetur. Donec ut libero sed arcu vehicula ultricies a non tortor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ut gravida lorem. Ut turpis felis, pulvinar a semper sed, adipiscing id dolor. Pellentesque auctor nisi id magna consequat sagittis. Curabitur dapibus enim sit amet elit pharetra tincidunt feugiat nisl imperdiet. Ut convallis libero in urna ultrices accumsan. Donec sed odio eros. Donec viverra mi quis quam pulvinar at malesuada arcu rhoncus. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In rutrum accumsan ultricies. Mauris vitae nisi at sem facilisis semper ac in est.</p>
  </div>

  <div id="sidebar">
    <div id="make_appointment" class="sidebar-item shadowed">
      <h3>Make an Appointment</h3>
      <div id="btn-div" class="centered">
        <%= button_to "Schedule Appointment", new_appointment_path, method: :get, class: "btn fade" %>
      </div>
    </div>

    <div id="make_appointment" class="sidebar-item shadowed">
      <h3>Specials</h3>
      <p>No specials at the moment.</p>
    </div>
  </div>
</div>
