<div id="wrapper">
  <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

  <div id="main-content">
    <div id="manifesto" class="main-item shadowed">
      <h2>Welcome to SL Mobile Mechanic</h2>
      <p>Imagine this. You're sitting in the waiting room at a repair shop,
      wondering how much it's going to cost to fix your car. Any minute now, a
      shop employee's going to slap you with the bill, along with annoying
      financing and credit card offers. We've all been there.</p>

      <p>Who can help you avoid this mess? That's who I am. I've been fixing
      all makes of cars for over 13 years, am <em>ASE certified</em>, and a
      former <em>MD state inspector.</em></p>

      <p>After years working at dealer and repair shops, I saw a need for
      quality mobile service, not just jump-starts and lockouts. I started my
      business to cultivate my love of fixing cars, and match it with my love
      of helping people through good customer relationships. </p>

      <p>I'm Scott Laverdiere, your mobile mechanic.</p>
    </div>

    <div class="main-item shadowed">
      <h2>Other Information</h2>
      <p>Sup</p>
    </div>
  </div>

  <div id="sidebar">
    <div id="make_appointment" class="sidebar-item shadowed">
      <h2>Make an Appointment</h2>
      <div id="btn-div" class="centered">
        <%= button_to "Schedule Appointment", new_appointment_path, method: :get, class: "btn fade" %>
      </div>
    </div>

    <div id="make_appointment" class="sidebar-item shadowed">
      <h2>Specials</h2>
      <p>No specials at the moment.</p>
    </div>
  </div>
</div>
