<%= render 'header' %>

<div id="wrapper">
  <div id="manifesto" class="shadowed">
    <h2>Welcome to Scott Laverdiere's Mobile Mechanic Site</h2>
    <p>Hey I'm Scott and I fix cars and drive to you and stuff. This is very bad placeholder text, but whatever.</p>
  </div>

  <div id="sidebar" class="shadowed">
    <h3>Special Deals</h3>
    <p>Just kidding, I have none.</p>
  </div>
</div>
