<div class="main-item shadowed">
  <h1>Our Services</h1>

  <p>Below is a list of some of the services we offer. This is by no means a comprehensive list.</p>

  <%# <%  I should make a services controller so Scott can add new ones. %>
  <ul>
    <li>Service 1</li>
    <li>Service 2</li>
    <li>Service 3</li>
    <li>Service 4</li>
    <li>Service 5</li>
    <li>Service 6</li>
    <li>Service 7</li>
    <li>Service 8</li>
  </ul>
</div>
