<%# <%  TODO I should make a services controller so Scott can add new ones. %>
<%# <%  TODO Add Paypal Picures. %>

<div class="main-item shadowed">
  <h1>Services</h1>

  <p>Below are some examples of common services I provide.</p>

  <div class="images-inline">
  <% @service_pics.each do |pic| %>
    <figure class="images-inline">
      <figcaption>
        <center>
          <b><%= File.basename(pic, ".png").gsub('_', ' ') %></b>
        </center>
      </figcaption>
      <%= image_tag "parts/thumbnails/#{pic}" %>
    </figure>
  <% end %>
  </div>
</div>

<div class="main-item shadowed">
  <h1>Getting a Quote</h1>

  <p>
  To get an exact quote, call (443-462-6178) or e-mail
  slmobilemechanic@yahoo.com.
  </p>

  <p>
  Have ready your vehicle's <b>year</b>, <b>make</b>, <b>model</b>, and
  if possible the <b>VIN number</b>.
  </p>

  <p>
  Let me know what you need done, or if you need
  diagnostic work. I keep my phone on me and will receive your email instantly.
  </p>
</div>

<div class="main-item shadowed">
  <h1>Important Info</h1>
  <p>
  I will beat <b>any shop's</b> legitimate quote on a service I provide <i>(Example: I
    cannot do alignments)</i>.  I reserve the right to verify all repair quotes.
  </p>

  <p>
  I will do most estimates absolutely free, provided it doesnt involve
  diagnostic.  If im just checking engine codes, most of the time there is no
  charge.
  </p>

  <p>
  I offer regular service and diagnostics, along with emergency service (Call me
  before you call a tow truck).
  </p>

  <p>
  My hourly rate (Using Alldata's billable flat rate hours for labor) is $60 per
  flat rate hour (Your average shop charges $90/hr, plus they jack up the part
  prices for your bill, shop fees, etc.).  Of course this varies from job to job,
  and is not always what is in the book, it might be less or more depending on
  the complexity of a job.  I will give you a fair estimate based upon my
  experience, and I stand behind my work.
  </p>
</div>
