<div id="main-content">
  <div class="main-item shadowed">
    <h1>Our Services</h1>

    <p>Below is a list of some of the services we offer. This is by no means a comprehensive list.</p>

    <%# <%  I should make a services controller so Scott can add new ones. %>
    <ul>
      <li>Tire Changes</li>
      <li>Oil Changes</li>
      <li>Engine Repair</li>
      <li>General Maintenence</li>
      <li>Wheel Rotation</li>
    </ul>
  </div>
</div>
