/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import url(http://fonts.googleapis.com/css?family=Open+Sans);

$body_bg: #EEEEEE;
$header_border: #FF2D2D;
$header_bg: #2E2E2E;
$header_text: white;
$header_font: Playball;

$bg_url: image-url("walls/grey_blur.jpg");

a{
  color: black;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;

  &.hover-color{
    color: $header_border; 
  }
}

body{
  background: $body_bg;
  font-family: 'Open Sans', serif;
  margin: 0 auto;
  text-align: center;
}

h1, h2, h3{
  font-family: $header_font;
}

.btn{
  background: $header_bg;
  border: 3px solid black;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-size: 15px;
  padding: 10px;

  &:hover{
    background: darken($header_border, 15%);
  }
}

.centered{
  text-align: center;
}

.errors{
  text-align: left;
}

.fade{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.notice{
  background: $header_bg;
  border: 2px solid $header_border;
  color: $header_text;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
}
