<%= render 'home/header' %>

<h1>A wild appointment has appeared!</h1>
<%= render 'info', :a => @appointment %><br />
<%= link_to "Edit this appointment", edit_appointment_path %><br>
<%= link_to "Back to Home", root_path %>
