<div class="main-item shadowed">
  <h1>Customer Reviews</h1>
</div>

<% if @reviews.empty? %>
<div class="main-item shadowed">
  <p>There are currently no reviews posted. Check back later.</p>
</div>
<% end %>

<% @reviews.each do |review| %>
<div class="main-item shadowed">
  <figure>
    <figcaption>
      <%= review.name %> says...
    </figcaption>

    <blockquote>
      <q><i><%= review.text %></i></q>
    </blockquote>

  </figure>
</div>
<% end %>

<!-- <br> -->
<%# <%= link_to 'New Review', new_review_path %>
